<!DOCTYPE html>
<html>
<head>
  <title>Jenna Nichols: About</title>
</head>

<body>
  <header>
    <h1>Jenna Nichols</h1>
    <h2>About</h2>
  </header>

  <section>
    <table border="1" style="border-collapse: collapse; text-align: center">
      <thead>
        <tr>
          <th colspan="2">Stats at a Glance</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><strong>Name:</strong></td>
          <td>Jenna Nichols</td>
        </tr>
        <tr>
          <td><strong>City:</strong></td>
          <td>Seattle, WA</td>
        </tr>
        <tr>
          <td><strong>Age:</strong></td>
          <td>26</td>
        </tr>
        <tr>
          <td><strong>Occupation:</strong></td>
          <td>Coder-in-training!</td>
        </tr>

      </tbody>
    </table>
  </section>

  <section>
    <h3>Bonjour!</h3>
    <p>
      My name is Jenna Nichols, and I'm a current student at <a href="http://www.adadevelopersacademy.org">Ada Developers Academy</a>.
    </p>

    <p>
      This is my family:
    </p>

    <img src="jennaeric.jpg" height="25%" width="25%"/>
    <img src= "lunabella.jpg" height="25%" width="25%"/>

    <p>
      Here are a few of my favorite things:
      <ul>
        <li>French, especially Qu&eacute;bec French</li>
        <li>Sociolinguistics</li>
        <li>Elephants</li>
        <li>College football (Go Gators!!)</li>
        <li>Arrested Development</li>
        <li>Board Games</li>
        <li>Karaoke</li>
        <li>My cats Bella and Luna</li>
      </ul>
    </p>
  </section>

  <footer>
    <nav>
      Site links:
      <a href="index">Home</a> |
      <a href="about">About</a> |
      <a href="projects">Projects</a> |
      <a href="blog">Blog</a>
    </nav>
    <nav>
      Find me on:
      <a href="http://www.twitter.com/jennaplusplus">Twitter</a> |
      <a href="http://www.facebook.com/jennanichols">Facebook</a> |
      <a href="http://www.github.com/jennaplusplus">GitHub</a>
    </nav>
  </footer>

</body>
</html>
