  <article>
    <header>
      <h2> On Fonts </h2>
    </header>

    <p><time datetime="2015-10-27">Posted Tuesday, October 27th</time>.</p>
    <p>
      Fonts. We see them everywhere. Some fonts have been scrutinized by their user - a single font can take one
      an hour to select from the plethora of fonts that exist in the world. Other people are happy
      using the default font, letting their creativy energy flow to other design considerations.
    </p>

    <p>
      If you're in the latter camp, here's an easy guide to make sure you're selecting a font that doesn't have
      a notoriously bad rep for the people in the former camp. Check it out below!

      Please note: Unfortunately I wasn't able to incorporate the 'font' tag into the fonts so you have a visual of the fonts. This will come
      when we learn CSS (very soon!).
    </p>

  </article>

  <br>

    <table border="1", style="font-family: helvetica; border-collapse: collapse; text-align: center">
      <thead>
        <tr>
          <th colspan="3" style="font-family: helvetica; border-collapse: collapse; text-align: center">
            The Ultimate Font Guide
          </th>
        </tr>
        <tr>
          <th>
            Font
          </th>
          <th>
            Cool factor
          </th>
          <th>
            When to use
          </th>
        </tr>
      </thead>
      <tr>
        <td>
          <font face="arial">
            Arial
          </font>
      </td>
        <td>
          A little dull
        </td>
        <td>
          College essays
        </td>
      </tr>
      <tr>
        <td>
          <font face="helvetica">
            Helvetica
          </font>
        </td>
        <td>
          A little stuffy
        </td>
        <td>
          Resumes?
        </td>
      </tr>
      <tr>
        <td>
          Comic Sans
        </td>
          <td>
            Hilarious
          </td>
          <td>
            Never
          </td>
        </tr>
      </table>

  <br>

    <article>
      <header>
    <h2> Blog Entry 3 </h2>
      </header>
      <p><time datetime="2015-10-26">Posted Friday, October 24th</time>.</p>

      <p> IT'S FRIDAY!!!! Party time, excellent. </p>
      <p> Or maybe just some of this:</p>
      <iframe src="//giphy.com/embed/PkRjXKSNU5ioM?html5=true" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="http://giphy.com/gifs/PkRjXKSNU5ioM">via GIPHY</a></p>
      <p> However, never forget: Party time can always be:<p> <%= Time.now %>
