<html>

<head>
	<meta property="og:title" content="Street Tacos 4 Lyfe">
	<meta property="og:image" content="street_tacos.jpeg">
	<meta property="og:description" content="Riley and her taco obsession, among other things">

	<title> One Site to Rule Them All </title>

</head>

<body>

    <nav>
      <a href="/index">Home</a>
      <a href="/blog">Blog</a>
      <a href="/taco_corn">TacoCorns!</a>
    </nav>

		<h1> Tacos, by type</h1>
		<h3>
			<time>
				Monday, October 26, 2015
			</time>
		</h3>
		<article>
			<p>
				<table border="1">
  				<thead>
    				<tr>
      				<th colspan="3">
        				Tacos, by type
      				</th>
    				</tr>
    				<tr>
      				<th>
        				Taco
      				</th>
      				<th>
       				 Delicious?
      				</th>
      				<th>
        				Evidence
      				</th>
    				</tr>
  				</thead>
  				<tr>
    				<td style="text-align: center">
      				Street
    				</td>
    				<td style="text-align:center">
      				<strong>YES</strong>
    				</td>
    				<td>
      				<img src="street_tacos.jpeg">
   				 </td>
 				 </tr>
 				 <tr>
   				 <td style="text-align: center">
     				 Taco Bell
   				 </td>
    				<td style="text-align: center">
    				  <strong>NO WAY</strong>
    				</td>
    				<td>
      				<img src="taco_bell.jpeg">
    				</td>
  				</tr>
				</table>

			</p>
		</article>

</body>

</html>