<html>
  <head>
    <title>Blog</title>
    <meta name="author" content="Darkwing Daphne">
    <meta charset="UTF-8">
  </head>

  <header>
    <h1>ADVENTURE LOG</h1>
  </header>

  <article>
    <ul>
      <li>
        <p><strong>Date: January 16th, 1984</strong></p>
        <p>A baby Darkwing Daphne is born. My first adventure outside is quite exhilirating. There are lots of smiling faces. One of the humans smells like freshly baked cookies. I can't wait to try a cookie.</p>
      </li>
      <li>
        <p><strong>Date: September 10th, 1989</strong></p>
        <p>It's been a long time since I wrote in the adventure log. I apologize, but youth has been so full of adventuring and excitement that I haven't had a chance to write. I'm doing well. I learned how to rollerblade this summer! My parents had some specially made for my duck feet.</p>
      </li>
      <li>
        <p><strong>Date: January 16th, 1991</strong></p>
        <p>Today is the most important day of my life because I discovered the joy of cats. I now spend at least half my day looking at books about cats and drawing cats.</p>
      </li>
      <li>
        <p><strong>Date: April 21st, 1992</strong></p>
        <p>Today is ACTUALLY the most important day of my life. We got America Online dial-up and I discovered the internet is for cats. I now spend all my time browsing the internet looking at cute cat pictures.</p>
      </li>
      <li>
        <p><strong>Date: October 26th, 2015</strong></p>
        <p>I'm sorry that I have been away for so long. I've been busy since the last log. It took -many- years, but I have now seen every cute cat picture on the internet. Wait, someone just posted another. Okay, I have NOW seen every cute cat picture on the internet. AAAHHHHH. Someone just posted three more. I've been at this for years now, and it just never stops. Help!</p>
      </li>
    </ul>
  </article>

  <footer>
    <nav>
      <a href="./index.html">HOME</a> |
      <a href="./about.html">About Me</a> |
      <a href="./projects.html">Projects</a>
    </nav>
  </footer>
</html>
