<!DOCTYPE html>
<html>
<head>
  <title>Jenna Nichols: Blog</title>
</head>

<body>
  <header>
    <h1>Jenna Nichols</h1>
    <h2>Blog</h2>
  </header>

  <article>
    <header>
      <h3>Hello, World!</h3>
      <h4>October 26, 2015</h4>
    </header>
    <p>
      Blogging... I hate blogging... just going to post some song lyrics instead...
    </p>

    <h5><a href="https://www.youtube.com/watch?v=ymei5EA5tz0">Daft Punk - Around the World</a></h5>
    <p>
      Around the world, around the world
      <br>Around the world, around the world
      <br>Around the world, around the world
      <br>Around the world, around the world
    </p>
    <p>
      Around the world, around the world
      <br>Around the world, around the world
      <br>Around the world, around the world
      <br>Around the world, around the world
    </p>
    <p>
      Around the world, around the world
      <br>Around the world, around the world
      <br>Around the world, around the world
      <br>Around the world, around the world
    </p>
    <p>
      Around the world, around the world
      <br>Around the world, around the world
      <br>Around the world, around the world
      <br>Around the world, around the world
    </p>
    <p>
      Around the world, around the world
      <br>Around the world, around the world
      <br>Around the world, around the world
      <br>Around the world, around the world
    </p>
    <p>
      Around the world, around the world
      <br>Around the world, around the world
      <br>Around the world, around the world
      <br>Around the world, around the world
    </p>
    <p>
      Around the world, around the world
      <br>Around the world, around the world
      <br>Around the world, around the world
      <br>Around the world, around the world
    </p>
    <p>
      Around the world, around the world
      <br>Around the world, around the world
      <br>Around the world, around the world
      <br>Around the world, around the world
    </p>
    <p>
      Around the world, around the world
      <br>Around the world, around the world
      <br>Around the world, around the world
      <br>Around the world, around the world
    </p>
    <p>
      Around the world, around the world
      <br>Around the world, around the world
      <br>Around the world, around the world
      <br>Around the world, around the world
    </p>
    <p>
      Around the world, around the world
      <br>Around the world, around the world
      <br>Around the world, around the world
      <br>Around the world, around the world
    </p>
    <p>
      Around the world, around the world
      <br>Around the world, around the world
      <br>Around the world, around the world
      <br>Around the world, around the world
    </p>
    <p>
      Around the world, around the world
      <br>Around the world, around the world
      <br>Around the world, around the world
      <br>Around the world, around the world
    </p>
    <p>
      Around the world, around the world
      <br>Around the world, around the world
      <br>Around the world, around the world
      <br>Around the world, around the world
    </p>
    <p>
      Around the world, around the world
      <br>Around the world, around the world
      <br>Around the world, around the world
      <br>Around the world, around the world
    </p>
    <p>
      Around the world, around the world
      <br>Around the world, around the world
      <br>Around the world, around the world
      <br>Around the world, around the world
    </p>
    <p>
      Around the world, around the world
      <br>Around the world, around the world
      <br>Around the world, around the world
      <br>Around the world, around the world
    </p>
    <p>
      Around the world, around the world
      <br>Around the world, around the world
      <br>Around the world, around the world
      <br>Around the world, around the world
    </p>


  </article>

  <footer>
    <nav>
      Site links:
      <a href="index">Home</a> |
      <a href="about">About</a> |
      <a href="projects">Projects</a> |
      <a href="blog">Blog</a>
    </nav>
    <nav>
      Find me on:
      <a href="http://www.twitter.com/jennaplusplus">Twitter</a> |
      <a href="http://www.facebook.com/jennanichols">Facebook</a> |
      <a href="http://www.github.com/jennaplusplus">GitHub</a>
    </nav>
  </footer>
</body>
</html>
