<!DOCTYPE html>
<html>
    <head>
    <title>Home Page.</title>
    <meta charset = "utf-8">
    </head>

    <body>

    <h1> Sarah's first Sinatra site! </h1>

    <nav>
        <a href="/projects">Projects</a>
        <a href="/blog">Blog</a>
    </nav>

    <br>

    <img src ="seattle_pano.png"></a>

    <br>

    <section>
      <p>
        I am a digital strategist living in Seattle, WA. I am currently enrolled in <a href="www.adadevelopersacademy.org">Ada Developer's Academy</a>
        where I will be studying web development through September 2016. This is my first Sinatra site!
    </section>

    <article>
      <header>
        <h2>Welcome!</h2>
      </header>
      <p>
        Thanks for dropping by. As you can see, this here website is still a work in progress. Fortunately, Ada gives me new tools every day to
        build me a badass website and walk away with a rockin' toolbelt. Huzzah!
      </p>

      <figure>
      <img src="http://petnet-wp.s3.amazonaws.com/wp-content/uploads/2014/04/140502-Happy-Cat.jpg" alt="Happy cat">
      <figcaption>This is how happy I am you visited my site!</figcaption>
    </figure>

    </article>

    <h3><a href="file:///Users/Sarah/Ada/class-exs/HTML%20templates/blog.html/">Click here to check out my blog</a></h3>

    </body>

    <footer>
      <p>
        Follow me on:
        <a href="http://twitter.com/SarahinSEA">Twitter</a>
        <a href="www.linkedin.com/in/SarahATrowbridge">LinkedIn</a>
      </p>
    </footer>

  </body>

</html>
