<!DOCTYPE html>
<html>
    <head>

    <link href="css/style.css" rel="stylesheet">

    <title>Home Page</title>
    <meta charset = "utf-8">
    </head>

    <body>

      <h1> Sarah's first Sinatra site! </h1>

      <nav>
          <a href="/projects">Projects</a>
          <a href="/blog">Blog</a>
      </nav>


      <img id="header-img" src ="seattle_pano.jpeg"></a>

      <article>
        <header>
          <h2>Welcome!</h2>
        </header>
        <p>
          Thanks for dropping by. I am a digital strategist living in Seattle, WA. I am currently enrolled in <a href="www.adadevelopersacademy.org">Ada Developer's Academy</a>
          where I will be studying web development through September 2016. This is my first Sinatra site! Here, I will document current <a href="/projects">projects</a> as well
          as well as <a href="/blog">random musings</a>.
        </p>
        <p>
          As you can see,  this here website is still a work in progress. Fortunately, Ada gives me new tools every day to
          build me a badass website and walk away with a rockin' toolbelt. Huzzah!
        </p>

        <figure>
        <img id= "cat" src="http://petnet-wp.s3.amazonaws.com/wp-content/uploads/2014/04/140502-Happy-Cat.jpg" alt="Happy cat">
        <figcaption>This is how happy I am you visited my site!</figcaption>
        </figure>
      </article>

      <!-- <h4><a href="file:///Users/Sarah/Ada/class-exs/HTML%20templates/blog.html/">Click here to check out my blog</a></h3> -->

      <footer>
            Follow me on:
            <a href="http://twitter.com/SarahinSEA">Twitter</a>
            <a href="www.linkedin.com/in/SarahATrowbridge">LinkedIn</a>
            <% t=Time.new %>
            <p class="copyright"> &copy; <%= t.year%> </p>
      </footer>

    </body>

</html>
