<html>

<head>
	<meta property="og:title" content="Street Tacos 4 Lyfe">
	<meta property="og:image" content="street_tacos.jpeg">
	<meta property="og:description" content="Riley and her taco obsession, among other things">

	<title> One Site to Rule Them All </title>

</head>

<body>

		<nav>
			<a href="/index">Home</a>
			<a href="/blog">Blog</a>
			<a href="/taco_corn">TacoCorns!</a>
		</nav>

		<article>
			<p>
				I'm a student at Ada Developer's Academy, where I'm learning to be a <strong>badass</strong> web developer. I'm new to Seattle, and getting used to the gray. (Thank goodness for candles.) 
			</p>
		</article>
		<aside>
			<p>
				I also think tacos are delicious. 
			</p>
		</aside>	

	<footer>
		Follow my <a href="blog">Blog</a>!
	</footer>

</body>

</html>