<html>
  <head>
    <title>Darkwing Daphne</title>
    <meta name="author" content="Darkwing Daphne">
    <meta charset="UTF-8">
  </head>

  <header>
    <h1>The Adventures of Darkwing Daphne</h1>
  </header>

  <div>
    <img width="650px" height="650px" src="./darkwing-daphne.jpg"/>
  </div>

  <footer>
    <nav>
      <a href="./about.html">About Me</a> |
      <a href="./blog.html">Adventure Log</a> |
      <a href="./projects.html">Projects</a>
    </nav>
  </footer>
</html>
