<!DOCTYPE html>
<html>
<head>
  <title>Jenna Nichols: Home</title>
</head>

<body>
  <header>
    <h1>Jenna Nichols</h1>
    <h2>Home</h2>
  </header>

  <img src="jennagatorclub.jpg" height="20%" width="20%"/>


  <section>
    <h3>
      Welcome to my personal web site!
    </h3>
    <h3><em>Bienvenue &agrave; mon site web personnel!</em></h3>
    <p>
      Perhaps you would like to look at some stuff?
    </p>
    <nav>
      <ul>
        <li><a href="about.html">About</a></li>
        <li><a href="projects.html">Projects</a></li>
        <li><a href="blog.html">Blog</a></li>
      </ul>
    </nav>
  </section>

  <footer>
    <nav>
      Site links:
      <a href="index.html">Home</a> |
      <a href="about.html">About</a> |
      <a href="projects.html">Projects</a> |
      <a href="blog.html">Blog</a>
    </nav>
    <nav>
      Find me on:
      <a href="http://www.twitter.com/jennaplusplus">Twitter</a> |
      <a href="http://www.facebook.com/jennanichols">Facebook</a> |
      <a href="http://www.github.com/jennaplusplus">GitHub</a>
    </nav>
  </footer>

</body>
</html>
