<!DOCTYPE html>
<html>
    <head>

    <link href="css/style.css" rel="stylesheet">
    <title><%= @title %> | Sarah's Website</title>
    <meta charset = "utf-8">
    </head>

    <body>
      <h1><%= @h1 %></h1>
      <nav>
          <a href="/index">Homepage</a>
          <a href="/projects">Projects</a>
          <a href="/blog">Blog</a>
      </nav>

      <%= yield %>

      <footer>
        <span class "links"><a href="/index">Home</a><a href="/projects">Projects</a><a href="/blog">Blog</a>
      	<!-- <span class="links"><a href="http://twitter.com/SarahinSEA">Twitter</a><a href="www.linkedin.com/in/SarahATrowbridge">LinkedIn</a> -->
        </span>
        <% t=Time.new %>
      	<span class="copyright"> &copy;<%= t.year%> </span>
      	<div class="clear"></div>
      </footer>

    </body>

</html>
