<!DOCTYPE html>
<html>
    <head>
      <link href="css/style.css" rel="stylesheet">
      <title><%= @title %> | Sarah's Website</title>
      <meta charset = "utf-8">
      <link rel="shortcut icon" type="image/png" href="space_needle.png"/>
      <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    </head>

    <body>
      <div class="SM_Links">
        <a href="http://twitter.com/SarahinSEA">
          <img src="twitter.png" alt="Link to Twitter profile"></a>
        <a href="www.linkedin.com/in/SarahATrowbridge">
          <img src="linkedin.png" alt="Link to LinkedIn profile"></a>
      </div>

      <h1><%= @h1 %></h1>

      <nav>
          <a href="/index">Homepage</a>
          <a href="/projects">Projects</a>
          <a href="/blog">Blog</a>
      </nav>

      <%= yield %>

      <footer>
        <span class="links"><a href="/index">Home</a><a href="/projects">Projects</a><a href="/blog">Blog</a>
        </span>
        <% t=Time.new %>
      	<span class="copyright">Sarah Trowbridge &copy;<%= t.year%></span>
      	<div class="clear"></div>
      </footer>
    </body>
</html>
