<!DOCTYPE html>
<html>
    <head>

    <link href="css/style.css" rel="stylesheet">
    <title><%= @title %> | Sarah's Website</title>
    <meta charset = "utf-8">
    </head>

    <body>
      <h1><%= @title %></h1>
      <nav>
          <a href="/index">Homepage</a>
          <a href="/projects">Projects</a>
          <a href="/blog">Blog</a>
      </nav>

      <%= yield %>

      <footer>
            Follow me on:
            <a href="http://twitter.com/SarahinSEA">Twitter</a>
            <a href="www.linkedin.com/in/SarahATrowbridge">LinkedIn</a>
            <% t=Time.new %>
            <p class="copyright"> &copy; <%= t.year%> </p>
      </footer>

    </body>

</html>
