<html>
  <head>
    <title>Projects</title>
    <meta name="author" content="Darkwing Daphne">
    <meta charset="UTF-8">
  </head>

  <header>
    <h1>PROJECTS & ADVENTURES</h1>
  </header>

  <section>
    <p>
      <a href="https://github.com/daphnegold/FarMar/tree/darg/master">Finding the Elusive Tired Honey</a>
    </p>
    <p>
      <a href="https://gist.github.com/daphnegold/b6bd5dd8647e457aa195">Investigative report: Where is Cookie Monster Now?</a>
    </p>
    <p>
      <a href="https://github.com/Ada-C4/Word-Guess/tree/darg_jmn/master">Monsieur le Mouse and the War of Many Cheeses </a>
    </p>
  </section>

<marquee behavior=alternate direction=right><marquee behavior=alternate direction=down width=500 height=550><img src="https://media.giphy.com/media/cKR1z82xoQtdC/giphy.gif"/></marquee></marquee>

  <footer>
    <nav>
      <a href="./index.html">HOME</a> |
      <a href="./about.html">About Me</a> |
      <a href="./blog.html">Adventure Log</a>
    </nav>
  </footer>
</html>
