  <p>
  I am a digital strategist living in Seattle and a student of <a href="http://www.adadevelopersacademy.org/">Ada Developers Academy</a>,
  cohort 4. From September 2015 through September 2016, I will be learning front-end web development with the end-goal of becoming a software developer.
  Find out about some of my recent projects below
  </p>

  <strong> <h3> <a href="https://gist.github.com/trowbrsa/d5348a1309c53da32b98">Random Menu Generator:</a> </h3> </strong>
    <p>A small program built in Ruby that offers you a random list of menu items based on user input.</p>

  <img src="menu.png" style="zoom: 0.5" alt="Menu!">


  <strong> <h3> <a href="https://github.com/trowbrsa/BankAccounts">Bank Accounts:</a> </h3> </strong>
    <p>
      A short program that involves one module to manage multiple classes that operate based on the numbers initialized when
      a new object of that class is created.
    </p>

  <img src="bank.png" alt="Piggy bank!">

  <h4> View a full list of my coding projects via my <a href="https://github.com/trowbrsa/">Github page.</a></h4>
