<html>

<head>
	<meta property="og:title" content="Street Tacos 4 Lyfe">
	<meta property="og:image" content="street_tacos.jpeg">
	<meta property="og:description" content="Riley and her taco obsession, among other things">

	<title> One Site to Rule Them All </title>

</head>

<body>

		<nav>
			<a href="/index">Home</a>
			<a href="/blog">Blog</a>
			<a href="/taco_corn">TacoCorns!</a>
		</nav>

		<article>
			<p>
				TacoCorns are, as you would think, Taco-Unicorns. They are pretty <strong>awesome</strong>, and if you don't believe me, just check them out for yourself:
			</p>
			<img src="taco_unicorn.jpeg"
				height = '400'>
			<img src="hipster_tacocorn.png">
		</article>
		<aside>
			<p>
				I also think tacos are delicious. 
			</p>
		</aside>	

	<footer>
		Follow my <a href="blog">Blog</a>!
	</footer>

</body>

</html>